*{
    font-family: Arial;
}
.back{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 14px;
}
.one{
    margin-right: 7px;
    margin-left: 0;
}
.two{
    margin-left: 0;
    margin-right: 7px;
}
.three{
    margin-left: 0;
    margin-right: 7px;
}
.four{
    margin-left: 0;
    margin-right: 7px;
}
.five{
    margin-left: 0;
    margin-right: 14px;
}
.next{
    padding-top: 10px;
    padding-bottom: 10px;
}
.stretch{
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: green;
    color: white;
    border: none;
    transition: padding-left 0.5s,
                padding-right 0.5s,
                padding-top 0.5s,
                padding-bottom 0.5s;
    cursor: pointer;
} 
.stretch:hover{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
}
.shadow{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: green;
    color: white;
    border: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.shadow:active{
    margin-left: 3px;
    margin-top: 17px;
    box-shadow: none;
}
.box{
    margin-top: 20px;
    margin-left: 20px;
}
.uno{
    background-color: green;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: padding 0.15s,
                margin 0.15s;
}
.uno:hover{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.dos{
    background-color: green;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial;
    transition: padding 0.15s,
                margin 0.15s;
}
.dos:hover{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.tres{
    background-color: green;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: padding 0.15s,
                margin 0.15s;
}
.tres:hover{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}